{% extends 'admin.html.twig' %}

{% block body %}
<div>
	<button class="fa fa-chevron-right fa-2x btn btn-default" aria-hidden="true" id="menu-btn"></button>
</div>
<div class="container margin-top-10">
	<div class="jumbotron">
		<div class="container">
			<div class="col-md-4 col-xs-6 text-center">
				<div class="go-to-data-attr hover-effect" data-menu-item="addProductli">
					<h2>
						<i class="fa fa-plus-square" aria-hidden="true"></i>
					</h2>
					<span>Add item</span>
				</div>
			</div>
			<div class="col-md-4  col-xs-6 text-center">
				<div class="go-to-data-attr hover-effect" data-menu-item="mngCommentli">
					<h2>
						<i class="fa fa-comments" aria-hidden="true"></i>
					</h2>
					<span>Manage Commets</span>
				</div>
			</div>
			<div class="col-md-4  col-xs-6 text-center">
				<div class="go-to-data-attr hover-effect" data-menu-item="editli">
					<h2>
						<i class="fa fa-cutlery" aria-hidden="true"></i>
					</h2>
					<span>Edit list</span>
				</div>
			</div>
			<div class="col-md-4  col-xs-6 text-center">
				<div class="go-to-data-attr hover-effect" data-menu-item="offersli">
					<h2>
						<i class="fa fa-gift" aria-hidden="true"></i>
					</h2>
					<span>Create offers</span>
				</div>
			</div>
			<div class="col-md-4  col-xs-6 text-center">
				<div class="go-to-data-attr hover-effect" data-menu-item="viewOrdersli">
					<h2>
						<i class="fa fa-eye" aria-hidden="true"></i>
					</h2>
					<span>View orders</span>
				</div>
			</div>
			<div class="col-md-4  col-xs-6 text-center">
				<div class="go-to-data-attr hover-effect" data-menu-item="subscribersli">
					<h2>
						<i class="fa fa-list-alt" aria-hidden="true"></i>
					</h2>
					<span>View subscribers</span>
				</div>
			</div>
			<div class="col-md-4  col-xs-6 text-center">
				<div class="go-to-data-attr hover-effect" data-menu-item="chartsli">
					<h2>
						<i class="fa fa-bar-chart" aria-hidden="true"></i>
					</h2>
					<span>Charts</span>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}