{% for comment in comments%}
	<p id="username-comment">{{comment.name}} 
		<span id="comment-label"> has commented 
			<i class="fa fa-comment"></i>
		</span>
	</p>
    <p class="fa fa-calendar" ><em> {{ comment.date|date("d/m/y")}}</em></p>
	<p id="comment">{{comment.comment}}</p>
{% endfor%}
