{% extends 'base.html.twig' %}

{% block body %}
<!-- TODO: comment "next five" does not stop when all comments finished -->
<div id="wait"><i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i></div>
<div id="loading-wrapper"></div>
	<div class="container margin-top-100" >
		<h2>Add your comment here</h2>
		<div class="row">
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<!-- <div class="form-group">
					    <label for="usernameComment">username</label>
					    <input type="text" class="form-control half-input" id="usernameComment" name="usernameComment" placeholder="username">
					  </div> -->
					  <div class="form-group">
					    <label for="commentBox">Comment</label>
					    <textarea type="text" name="bodyMessage" class="form-control" id="commentBox" rows="5"></textarea>
					  </div>

					  <button id="addComment" type="submit" class="burger-btn btn btn-default">Add your comment</button>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="container margin-top-100">
		<div class="row">
			<div id="loadAjax">
				{% for comment in comments%}
					<p id="username-comment">{{comment.name}} 
						<span id="comment-label"> has commented <i class="fa fa-comment"></i></span>
					</p>
					<p id="comment">{{comment.comment}}</p>
				{% endfor%}
				<!-- <form method="post" action="commentsRefresh" > -->
				<!-- </form> -->
			</div>
			<div class="col-xs-8 col-xs-push-4 col-md-5 col-md-push-7 margin-top-10">
				<button  class="btn btn-primary btn-block" id="nextComment"name="next">
					Next five comments <span class="fa fa-forward"></span>
				</button>

			</div>
			
			
		</div>
				
	</div>
{% endblock %}
