{% extends 'admin.html.twig' %}

{% block body %}
<div>
	<button class="fa fa-chevron-right fa-2x btn btn-default" aria-hidden="true" id="menu-btn"></button>
</div>


<div class="panel panel-default margin-top-100 container">
	{% for flash in app.session.flashbag.get('notice') %}
		<div class="text-center alert alert-danger" id="fadeMsg">
			{{flash}}
		</div>
	{% endfor %}
	<div class="container margin-top-10">
		{% for listItem in list%}
		 <div class="col-md-4 col-sm-6 col-xs-12 margin-top-10 margin-bottom-10"> 
			<p>{{listItem.name}}</p>
			<a class="btn btn-primary btn-sm "title="Edit" href="edit-item/{{listItem.id}}">Edit</a>
			<a class="btn btn-danger btn-sm " href="delete-product/{{listItem.id}}">Delete</a>
		</div>
		{% endfor%}
	</div>
</div>
{% endblock %}