{% extends 'base.html.twig' %}

{% block body %}
<div  id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
     <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
     <li data-target="#carousel-example-generic" data-slide-to="1"></li>
     <li data-target="#carousel-example-generic" data-slide-to="2"></li>
 </ol>

 <!-- Wrapper for slides -->
 <div  class="carousel-inner" role="listbox">

  <div class="item active">
      <img src="images/slider1.png">
  </div>

  <div class="item">
      <img src="images/slider2.png" >

  </div>

  <div class="item">
      <img src="images/slider3.png">
  </div>

</div>


</div>


<div class="container text-justify">
    <div class="row">

        <div class="col-md-4">

            <p>
              <span class="drop-cap">A</span>nean aliquam nulla diam, ut pellentesque ante ultricies id.
              Duis quis convallis neque. Donec sit amet massa at tortor volutpat tincidunt nec eu tellus.
              Maecenas efficitur finibus imperdiet. Sed eu euismod erat, eget interdum sem.
              Cras rhoncus ut lectus quis aliquet. Nam sit amet auctor lorem. Morbi eu erat dictum, 
              dignissim dolor euismod, ornare urna. Donec semper metus ex, et rhoncus ligula tincidunt vitae.
              Aenean aliquam pharetra ultricies. Nunc eleifend, ex eget viverra iaculis, mi turpis efficitur 
              eros, a volutpat tellus risus et justo. Nullam vel libero est.
              <div id="img1"  class="img-hover">
                <img  alt="a very pretty img" src="images/col1.jpg"  class="img-border img-responsive" >
              </div>
          </p>

      </div>


      <div class="col-md-4">
          <p>
            <span class="drop-cap">A</span>enean aliquam nulla diam, ut pellentesque ante ultricies id.
            Duis quis convallis neque. Donec sit amet massa at tortor volutpat tincidunt nec eu tellus.
            Maecenas efficitur finibus imperdiet. Sed eu euismod erat, eget interdum sem.
            Cras rhoncus ut lectus quis aliquet. Nam sit amet auctor lorem. Morbi eu erat dictum, 
            dignissim dolor euismod, ornare urna. Donec semper metus ex, et rhoncus ligula tincidunt vitae.
            Aenean aliquam pharetra ultricies. Nunc eleifend, ex eget viverra iaculis, mi turpis efficitur 
            eros, a volutpat tellus risus et justo. Nullam vel libero est.
            <div id="img2"  class="img-hover">
              <img  alt="a very pretty img" src="images/col2.jpg"  class="img-border img-responsive" >
             </div>
        </p>
    </div>


    <div class="col-md-4">
      <p>
        <span class="drop-cap">A</span>enean aliquam nulla diam, ut pellentesque ante ultricies id.
        Duis quis convallis neque. Donec sit amet massa at tortor volutpat tincidunt nec eu tellus.
        Maecenas efficitur finibus imperdiet. Sed eu euismod erat, eget interdum sem.
        Cras rhoncus ut lectus quis aliquet. Nam sit amet auctor lorem. Morbi eu erat dictum, 
        dignissim dolor euismod, ornare urna. Donec semper metus ex, et rhoncus ligula tincidunt vitae.
        Aenean aliquam pharetra ultricies. Nunc eleifend, ex eget viverra iaculis, mi turpis efficitur 
        eros, a volutpat tellus risus et justo. Nullam vel libero est.
        <div id="img3" class="img-hover">
          <img  alt="a very pretty img" src="images/col3.jpg"  class="img-border img-responsive" >
        </div>
    </p>
</div>
</div>

</div>


<div class="well"></div>
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" height="140" width="140">
            <h2>Offer 1</h2>
            <p class="text-justify">
              Cras rhoncus ut lectus quis aliquet. Nam sit amet auctor lorem. 
              Morbi eu erat dictum, dignissim dolor euismod, ornare urna. 
              Donec semper metus ex, et rhoncus ligula tincidunt vitae. 
              Aenean aliquam pharetra ultricies. Nunc eleifend, ex eget viverra iaculis, 
              mi turpis efficitur eros, a volutpat tellus risus et justo.
              Nullam vel libero est. 
            </p>
            <p><a class="btn btn-success" href="#" role="button">Grab it</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" height="140" width="140">
            <h2>Offer 2</h2>
            <p class="text-justify">
              Cras rhoncus ut lectus quis aliquet. Nam sit amet auctor lorem. 
              Morbi eu erat dictum, dignissim dolor euismod, ornare urna. 
              Donec semper metus ex, et rhoncus ligula tincidunt vitae. 
              Aenean aliquam pharetra ultricies. Nunc eleifend, ex eget viverra iaculis, 
              mi turpis efficitur eros, a volutpat tellus risus et justo.
              Nullam vel libero est.
            </p>
            <p><a class="btn btn-success" href="#" role="button">Grab it</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" height="140" width="140">
            <h2>Offer 3</h2>
            <p class="text-justify">
              Cras rhoncus ut lectus quis aliquet. Nam sit amet auctor lorem. 
              Morbi eu erat dictum, dignissim dolor euismod, ornare urna. 
              Donec semper metus ex, et rhoncus ligula tincidunt vitae. 
              Aenean aliquam pharetra ultricies. Nunc eleifend, ex eget viverra iaculis, 
              mi turpis efficitur eros, a volutpat tellus risus et justo.
              Nullam vel libero est.
            </p>
            <p><a class="btn btn-success" href="#" role="button">Grab it</a></p>
          </div><!-- /.col-lg-4 -->      
        </div>
    </div>


  <!-- Modal image 1 -->
<div class="modal fade" id="firstImg" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body text-center">
            <img  class="img-responsive" src ="images/col1.jpg">
        </div>
        <div class="modal-footer">
        
        </div>
      </div>
  </div>
</div> 



  <!-- Modal image 2-->
<div class="modal fade" id="secondImg" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body text-center">
          <img class="img-responsive" src ="images/col2.jpg">
      </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div> 


  <!-- Modal image 3 -->
<div class="modal fade" id="thirdImg" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body text-center">
          <img class="img-responsive" src ="images/col3.jpg">
      </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div> 
{% endblock %}


