{% extends 'base.html.twig' %} 
{% block body %}

<div class="panel panel-default margin-top-100 container padding-bottom-20">
	<div class="container margin-top-10">
        {% for totalCategories in totalCategories %}            
            <div class="col-xs-12">
                <h3>{{totalCategories.name}}</h3>
            </div>
            {% for item in list %}
                {% if totalCategories.name == item.category %}  
                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-12  col-xs-12 margin-top-10">
                            <a href="details/{{item.id}}">
                                <span class="btn btn-info btn-md">{{item.name}} 
                                    <strong> {{item.price}}&euro;</strong>
                                </span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor%}
        {% endfor%}
    </div>
</div>
{% endblock %}