{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-default margin-top-100 container">
	<div class="container margin-top-10">
		{% for listItem in list%}
		 <div class="col-md-8 col-sm-8 col-xs-10"> 
			<span>{{listItem.name}}</span>
			<p class="text-muted">{{listItem.description}}</p>
		</div>
		<div class="col-md-1 col-sm-1 col-md-pull-3 col-xs-2"> 
			<strong>{{listItem.price}}&euro;</strong>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12"> 
			<!-- <button class="btn btn-success btn-sm addCart">Grap it</button> -->
			<a class="btn btn-info btn-sm" href="details/{{listItem.id}}">Details</a>
		</div>
		{% endfor%}
	</div>
</div>
{% endblock %}

