@bgColor: #F8F5F2;
@textColor: #0001B29;
@mainColor: #EDB83D;
@secondColor: #D70026;

.navbar-default a{
	color: @bgColor !important;
}

.navbar-default a:hover{
	background: @mainColor !important;
}

.navbar-default{
	background: @secondColor !important;
}
.nav > a, .nav > a:focus, .nav > a:hover{
	background: @mainColor !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
	background: @mainColor !important;
}

.active > a{
	background:  @mainColor !important;
}

body{
	background: @bgColor;
}
p, h1, h2, h3, h4, label{
	color:  @textColor;
}
i{
	color:  @mainColor !important;
}
.burger-a {
	color: @secondColor !important;
	font-style: oblique !important;
	text-decoration: none !important;
	outline: 0 !important;
}
a{
	text-decoration: none !important;
	outline: 0 !important;
}
small{
	color:  @secondColor !important;
}
.footer{
	background:@mainColor;
}
.footer-bottom{
	background:@secondColor;
}
.burger-btn{
	background:@secondColor;
	color: @mainColor;
	:hover{
		background:@secondColor + 00011;
		color: @mainColor - 00021;
	}
}

.burger-btn:hover{
	background:@secondColor + 00011;
	color: @mainColor - 00021;
}
.burger-btn:active{
	background:@secondColor + 00031 !important;
	color: @mainColor - 00051 !important;
}

 
.img-border{
  	border:5px solid @mainColor;
  	cursor: pointer;
  
}
.img-hover{
	border: 2px solid transparent;
}
.img-hover:hover{
  	border:2px solid @secondColor;
  	cursor: pointer;
  	opacity: 0.7;

}
.jumbotron{
	background: @mainColor;
}

#login-panel{
	background: @mainColor;
}

#go-top{
	color: @secondColor;
}

#loading-wrapper{
	width: 100%;
	min-height: 200%;
	position: absolute;
	background: @bgColor;
	display: none;
	z-index: 100;
}